.no_padding {
  padding: 0;
}

.borderless {
  border: 0;
}

/* Stop the Home/Away record title cards expanding */
.no-growth {
  flex: 0 0 auto !important;
}

.navbar {
  --bs-navbar-brand-margin-end: 0 !important;
}

.card-sidebar {
  font-size: smaller;
  color: white !important;
}

.card .collapse-toggle {
  background-color: white;
  color: #4c668d;
}

div[id*="_sidebar_ui_1-"] {
  font-size: smaller;
}

button[id*="_sidebar_ui_1-"] {
  font-size: smaller;
}

div.sidebar-content div[class^="selectize-"] {
  font-size: small;
}

#includePlayOffs {
  font-size: small;
}

div#PlayersByPlayer_ui_1-pl_quick_facts div.value-box-area.html-fill-item.html-fill-container {
  justify-content: start;
}

div#PlayersByPlayer_ui_1-pl_quick_facts .value-box-area>:first-child {
  font-size: 1.75rem;
}

.reactable-details {
  margin: 1rem;
  padding: 1rem;
  width: fit-content;
  border: none;
  width: fit-content;
  font-size: small;
}

.reactable-text {
  color: #404040;
}

.rt-search {
  margin-top: 8px;
}

.results-row {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #16188f17;
}

.opponent-title {
  margin-bottom: 1.5rem;
}

.apps-reactable {
  color: black;
}

#SeasonTracker_ui_1-summary_stats > div > label:not(:first-child) > input[type=checkbox] {
  margin-left: 0.5rem;
}
