.no_padding {
  padding: 0;
}

.borderless {
  border: 0;
}

/* Stop the Home/Away record title cards expanding */
.no-growth {
  flex: 0 0 auto !important;
}

.navbar {
  --bs-navbar-brand-margin-end: 0 !important;
}

.card-sidebar {
  font-size: smaller;
  color: white !important;
}

.card .collapse-toggle {
  background-color: white;
  color: #4c668d;
}

div[id*="_sidebar_ui_1-"] {
  font-size: smaller;
}

button[id*="_sidebar_ui_1-"] {
  font-size: smaller;
}

div.sidebar-content div[class^="selectize-"] {
  font-size: small;

  input {
    font-size: small;
  }
}

div.sidebar-content {
  font-weight: 300;
  font-size: 0.95rem;
}

#includePlayOffs {
  font-size: small;
}

div#PlayersByPlayer_ui_1-pl_quick_facts div.value-box-area.html-fill-item.html-fill-container {
  justify-content: start;
}

div#PlayersByPlayer_ui_1-pl_quick_facts .value-box-area>:first-child {
  font-size: 1.75rem;
}

.reactable-details {
  margin: 1rem 0;
  padding: 1rem;
  width: fit-content;
  border: none;
  font-size: small;
}

.reactable-text {
  color: #404040;
}

.rt-search {
  margin-top: 8px;
}

.results-row {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #16188f17;
}

.opponent-title {
  margin-bottom: 1.5rem;
}

.apps-reactable {
  color: black;
}

#SeasonTracker_ui_1-summary_stats > div > label:not(:first-child) > input[type=checkbox] {
  margin-left: 0.5rem;
}

.apps_table_with_images {
  /* Hide the arrow on the expand/collapse button on player appearance table */
  /* Only applies if images are being dispaly */
  .rt-expander-button {
    /* display: none; */
  }
  div.player-name .rt-td-inner {
    display: flex;
  }
}

.value_box_bordered {
  border: navy 0.1pt solid !important;
  border-radius: 2%;
}

div.lge_tab .rt-td-inner {
  padding: 0px 6px;
}

div.line_up .rt-td-inner {
  padding: 2px 6px;
}

/*******************************************************************************************/
/* Beginning of Reactable CSS                                                              */
/* https://glin.github.io/reactable/articles/cookbook/cookbook.html#custom-sort-indicators */
/*******************************************************************************************/
.bar-sort-header:hover,
.bar-sort-header:focus {
  background: rgba(0, 0, 0, 0.03);
}

/* Add a top bar on ascending sort */
.bar-sort-header[aria-sort="ascending"] {
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.6);
}

/* Add a bottom bar on descending sort */
.bar-sort-header[aria-sort="descending"] {
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.6);
}

/* Add an animation when toggling between ascending and descending sort */
.bar-sort-header {
  transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/*******************************************************************************************/
/* End of Reactable CSS                                                                    */
/*******************************************************************************************/
