.no_padding {
  padding: 0;
}

.borderless {
  border: 0;
}


div[id^="Head2HeadAllOpponents_sidebar_ui_1-"] label {
  font-size: smaller;
}

button[id^="Head2HeadAllOpponents_sidebar_ui_1-"] {
  font-size: smaller;
}

div.sidebar-content div[class^="selectize-"] {
  font-size: small;
}
